*{
    font-family: 'Ubuntu';
}

button{
    border-color: transparent;
}

.images-wrapper > img{
    margin-bottom: 12px;
}

body{
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100%;
    line-height: 1.4rem;
    background: var(--whitesmoke);
    color: var(--dark);
    text-align: justify;
    box-sizing: border-box;
}

body.image{
    background-image: url(assets/mountains.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.image div#main{
    height: 100%;
    color: var(--link);
}

body.image div#main i{
    font-size: 8rem;
}

table {
    margin-top: 20px;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

    table td, table th {
        padding: .75rem;
        vertical-align: top;
        border: 1px solid var(--scrollbar);
        border-width: 1px;
    }

    table > thead > tr, .table-header {
        background: var(--link);
        color: var(--whitesmoke);
    }

    tr.divider, th.divider{
        border-bottom: 2px solid var(--link);
    }

    th.center{
        vertical-align: middle;
        min-width: 100px;
    }

    table.table-visible{
        display: block;
    }

    table.table-invisible{
        display: none;
    }

footer{
    background: var(--whitesmoke);
    height: 56px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--scrollbar);
}

img{
    width: 100%;
    height: 100%;
}

a{
    outline-style: none;
    text-decoration: none;
    color: var(--link);
}

a:hover{
    cursor: pointer;
}

.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin: auto;
}

.space-between{
    justify-content: space-between;
}

.vertical-alignment{
    flex-direction: column;
}

.horizontal-alignment{
    flex-direction: row;
}

.title{
    color: var(--main);
}

.icon{
    margin: 0 10px 0 0;
}

.header{
    background: var(--main-background);
    color: var(--whitesmoke);
    padding: 0.5%;
    font-size: small;
    text-align: center;
}

.labs-list{
    flex-wrap: wrap;
    justify-content: space-around;
}

.labs-list-hidden{
    display: flex;
}

    .labs-list-hidden a{
        margin: 6px 24px;
        height: 32px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--dark);
    }

        .labs-list-hidden a:hover{
            color: var(--main);
        }

            .labs-list-hidden-wrapper-background{
                background: var(--whitesmoke);
            }

    .labs-list-hidden-wrapper{
        flex-direction: column;
        background: var(--whitesmoke);
        position: absolute;
        width: 100%;
        display: none;
        margin: 12px 0;
    }

        .labs-list-hidden-wrapper > span{
            justify-content: space-between;
            padding: 0 24px;
            font-weight: bold;
        }

.open-labs-list{
    position: absolute;
    background: var(--whitesmoke);
    width: 100%;
    z-index: 3;
}

.expand{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--link);
}

.expand:hover{
    cursor: pointer;
}

.shadow{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%), 0 0 0 1px rgb(0 0 0 / 4%);
}

.no-border{
    border: 0px !important;
}

.lab-item{
    padding: 10px 15px;
    text-align: center;
    border-top: 3px solid #232f3e;
    border-width: 3px 1px 1px 1px;
    border-color: var(--darkgray);
    background: var(--whitesmoke);
    border-style: solid;
    margin: 1% 0;
    max-width: 50%;
    min-width: 7%;
    color: var(--link);
    font-size: medium;
}

    .lab-item:hover, .lab-item.active{
        border-color: var(--link);
        color: var(--whitesmoke);
        background: var(--link);
    }

.home{
    color: var(--main-background);
    /* margin: 10px 0; */
}

    .home:hover{
        border-color: var(--whitesmoke);
        color: var(--link);
        background: var(--whitesmoke);
    }

.home-icon-link{
    display: none;
    color: var(--whitesmoke);
    margin: 5px;
}

    .home-icon-link > i{
        font-size: 30px;
        font-weight: bold;
    }

.main{    
    width: 100%;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    /* overflow-y: auto; */
}

#main h1{
    line-height: 2.5rem;
}

#menu{
    border-top: 1px solid var(--silver);
    background: var(--main-background);
    padding: 12px 0;
    display: block;
    flex-direction: column;
    overflow-y: auto;
    z-index: 2;
    text-align: left;
}

.menu-item{
    color: var(--silver);
    min-height: 36px;
    padding: 6px;    
    justify-content: space-between;
    align-items: center;
}

.sub-menu{
    min-height: 32px;
    margin-left: 24px;
    padding: 2px;
    color: var(--silver);
    display: none;
}

.sub-menu-visible{
    display: block !important;
}

    .menu-item:hover, .sub-menu:hover, .sub-menu-visible:hover{
        color: var(--main);
        cursor: pointer;
    }


.active-link{
    color: var(--main);
}

.item{
    display: none;
}

.active-item{
    flex-wrap: wrap;
    flex-direction: column;
}

    .active-item > h3.title, .active-item span.title{
        font-weight: bold;
        color: var(--dark);
        margin-bottom: 10px;
    }

    .active-item > h3.title{
        color: var(--link);
        margin-left: 2rem;
        margin-bottom: 0;
        text-align: left;
    }

    .active-item > div{
        margin-top: 20px;
        display: none;
    }

    .active-item > div > p{
        margin: 10px 0 0 0;
    }

    .active-item > div.active-paragraph{
        display: flex;
        flex-direction: column;
    }

.table-choice{
    border-radius: 6px;
    background-color: var(--whitesmoke);
    margin: 20px 10px 0 0;
    padding: 0.7rem;
    color: var(--dark);
    border: 1px solid var(--dark);
}

.table-choice.active, .table-choice.active:hover{
    background: var(--choice-button);
    color: var(--main);
}

.table-choice.active{
    border: 1px solid var(--main);
}

.table-choice:hover{
    background: var(--choice-button);
    cursor: pointer;
}

#content{
    padding: 6px;
    z-index: 1;
}

@media screen and (max-width: 800px){
    .labs-list{
        justify-content: end;
    }

    .lab-item{
        padding: 5px 10px;
        margin: 5px 3px;
    }

    .images-wrapper{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    /* .header{
        position: sticky;
        top: 0;
    } */

    .main{
        display: flex;
        flex-direction: column;
    }

    .menu-item{
        margin: 0;
    }

    .home, #menu{
        display: none;
    }

    #menu{
        position: absolute;
        width: 100%;
    }

    .home-icon-link{
        display: flex;
    }

    .labs-list{
        display: none;
    }

    .labs-list-hidden-wrapper{
        display: block;
        position: relative;
    }
}